<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="formContainer">
        <h2>Sign Up</h2>
        <form id="loginForm" action="signup" method="post">
            <div class="formGroup">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your name" required
                    autocomplete="off">
            </div>
            <div class="formGroup">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="submitBtn">Sign Up</button>
            <p>Already have an account?<a href="/login">Login</a></p>
        </form>
    </div>

</body>

</html>